# pipdeptree 2020-09-08
docutils==0.15.2
fastapi==0.61.1
  - pydantic [required: >=1.0.0,<2.0.0, installed: 1.6.1]
  - starlette [required: ==0.13.6, installed: 0.13.6]
gunicorn==20.0.4
  - setuptools [required: >=3.0, installed: 50.3.0]
numpy==1.22.0
pipdeptree==1.0.0
  - pip [required: >=6.0.0, installed: 20.2.2]
PyYAML==5.4
requests==2.24.0
  - certifi [required: >=2017.4.17, installed: 2020.6.20]
  - chardet [required: >=3.0.2,<4, installed: 3.0.4]
  - idna [required: >=2.5,<3, installed: 2.10]
  - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
uvicorn==0.11.8
  - click [required: ==7.*, installed: 7.1.2]
  - h11 [required: >=0.8,<0.10, installed: 0.9.0]
  - httptools [required: ==0.1.*, installed: 0.1.1]
  - uvloop [required: >=0.14.0, installed: 0.14.0]
  - websockets [required: ==8.*, installed: 8.1]
