# pipdeptree 2020-09-08
allennlp==0.9.0
  - boto3 [required: Any, installed: 1.14.56]
    - botocore [required: >=1.17.56,<1.18.0, installed: 1.17.56]
      - docutils [required: >=0.10,<0.16, installed: 0.15.2]
      - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
      - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
        - six [required: >=1.5, installed: 1.15.0]
      - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
    - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
    - s3transfer [required: >=0.3.0,<0.4.0, installed: 0.3.3]
      - botocore [required: >=1.12.36,<2.0a.0, installed: 1.17.56]
        - docutils [required: >=0.10,<0.16, installed: 0.15.2]
        - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
        - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
          - six [required: >=1.5, installed: 1.15.0]
        - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
  - conllu [required: ==1.3.1, installed: 1.3.1]
  - editdistance [required: Any, installed: 0.5.3]
  - flaky [required: Any, installed: 3.7.0]
  - flask [required: >=1.0.2, installed: 1.1.2]
    - click [required: >=5.1, installed: 7.1.2]
    - itsdangerous [required: >=0.24, installed: 1.1.0]
    - Jinja2 [required: >=2.10.1, installed: 2.11.2]
      - MarkupSafe [required: >=0.23, installed: 1.1.1]
    - Werkzeug [required: >=0.15, installed: 1.0.1]
  - flask-cors [required: >=3.0.7, installed: 3.0.9]
    - Flask [required: >=0.9, installed: 1.1.2]
      - click [required: >=5.1, installed: 7.1.2]
      - itsdangerous [required: >=0.24, installed: 1.1.0]
      - Jinja2 [required: >=2.10.1, installed: 2.11.2]
        - MarkupSafe [required: >=0.23, installed: 1.1.1]
      - Werkzeug [required: >=0.15, installed: 1.0.1]
    - Six [required: Any, installed: 1.15.0]
  - ftfy [required: Any, installed: 5.8]
    - wcwidth [required: Any, installed: 0.2.5]
  - gevent [required: >=1.3.6, installed: 20.6.2]
    - greenlet [required: >=0.4.16, installed: 0.4.16]
    - setuptools [required: Any, installed: 49.6.0]
    - zope.event [required: Any, installed: 4.4]
      - setuptools [required: Any, installed: 49.6.0]
    - zope.interface [required: Any, installed: 5.1.0]
      - setuptools [required: Any, installed: 49.6.0]
  - h5py [required: Any, installed: 2.10.0]
    - numpy [required: >=1.7, installed: 1.18.3]
    - six [required: Any, installed: 1.15.0]
  - jsonnet [required: >=0.10.0, installed: 0.16.0]
  - jsonpickle [required: Any, installed: 1.4.1]
    - importlib-metadata [required: Any, installed: 1.7.0]
      - zipp [required: >=0.5, installed: 3.1.0]
  - matplotlib [required: >=2.2.3, installed: 3.3.1]
    - certifi [required: >=2020.06.20, installed: 2020.6.20]
    - cycler [required: >=0.10, installed: 0.10.0]
      - six [required: Any, installed: 1.15.0]
    - kiwisolver [required: >=1.0.1, installed: 1.2.0]
    - numpy [required: >=1.15, installed: 1.18.3]
    - pillow [required: >=6.2.0, installed: 7.2.0]
    - pyparsing [required: >=2.0.3,!=2.1.6,!=2.1.2,!=2.0.4, installed: 2.4.7]
    - python-dateutil [required: >=2.1, installed: 2.8.1]
      - six [required: >=1.5, installed: 1.15.0]
  - nltk [required: Any, installed: 3.5]
    - click [required: Any, installed: 7.1.2]
    - joblib [required: Any, installed: 0.14.1]
    - regex [required: Any, installed: 2020.7.14]
    - tqdm [required: Any, installed: 4.48.2]
  - numpy [required: Any, installed: 1.18.3]
  - numpydoc [required: >=0.8.0, installed: 1.1.0]
    - Jinja2 [required: >=2.3, installed: 2.11.2]
      - MarkupSafe [required: >=0.23, installed: 1.1.1]
    - sphinx [required: >=1.6.5, installed: 3.2.1]
      - alabaster [required: >=0.7,<0.8, installed: 0.7.12]
      - babel [required: >=1.3, installed: 2.8.0]
        - pytz [required: >=2015.7, installed: 2020.1]
      - docutils [required: >=0.12, installed: 0.15.2]
      - imagesize [required: Any, installed: 1.2.0]
      - Jinja2 [required: >=2.3, installed: 2.11.2]
        - MarkupSafe [required: >=0.23, installed: 1.1.1]
      - packaging [required: Any, installed: 20.4]
        - pyparsing [required: >=2.0.2, installed: 2.4.7]
        - six [required: Any, installed: 1.15.0]
      - Pygments [required: >=2.0, installed: 2.6.1]
      - requests [required: >=2.5.0, installed: 2.24.0]
        - certifi [required: >=2017.4.17, installed: 2020.6.20]
        - chardet [required: >=3.0.2,<4, installed: 3.0.4]
        - idna [required: >=2.5,<3, installed: 2.10]
        - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
      - setuptools [required: Any, installed: 49.6.0]
      - snowballstemmer [required: >=1.1, installed: 2.0.0]
      - sphinxcontrib-applehelp [required: Any, installed: 1.0.2]
      - sphinxcontrib-devhelp [required: Any, installed: 1.0.2]
      - sphinxcontrib-htmlhelp [required: Any, installed: 1.0.3]
      - sphinxcontrib-jsmath [required: Any, installed: 1.0.1]
      - sphinxcontrib-qthelp [required: Any, installed: 1.0.3]
      - sphinxcontrib-serializinghtml [required: Any, installed: 1.1.4]
  - overrides [required: Any, installed: 3.1.0]
  - parsimonious [required: >=0.8.0, installed: 0.8.1]
    - six [required: >=1.9.0, installed: 1.15.0]
  - pytest [required: Any, installed: 6.0.1]
    - attrs [required: >=17.4.0, installed: 20.2.0]
    - importlib-metadata [required: >=0.12, installed: 1.7.0]
      - zipp [required: >=0.5, installed: 3.1.0]
    - iniconfig [required: Any, installed: 1.0.1]
    - more-itertools [required: >=4.0.0, installed: 8.5.0]
    - packaging [required: Any, installed: 20.4]
      - pyparsing [required: >=2.0.2, installed: 2.4.7]
      - six [required: Any, installed: 1.15.0]
    - pluggy [required: >=0.12,<1.0, installed: 0.13.1]
      - importlib-metadata [required: >=0.12, installed: 1.7.0]
        - zipp [required: >=0.5, installed: 3.1.0]
    - py [required: >=1.8.2, installed: 1.9.0]
    - toml [required: Any, installed: 0.10.1]
  - pytorch-pretrained-bert [required: >=0.6.0, installed: 0.6.2]
    - boto3 [required: Any, installed: 1.14.56]
      - botocore [required: >=1.17.56,<1.18.0, installed: 1.17.56]
        - docutils [required: >=0.10,<0.16, installed: 0.15.2]
        - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
        - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
          - six [required: >=1.5, installed: 1.15.0]
        - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
      - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
      - s3transfer [required: >=0.3.0,<0.4.0, installed: 0.3.3]
        - botocore [required: >=1.12.36,<2.0a.0, installed: 1.17.56]
          - docutils [required: >=0.10,<0.16, installed: 0.15.2]
          - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
          - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
            - six [required: >=1.5, installed: 1.15.0]
          - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
    - numpy [required: Any, installed: 1.18.3]
    - regex [required: Any, installed: 2020.7.14]
    - requests [required: Any, installed: 2.24.0]
      - certifi [required: >=2017.4.17, installed: 2020.6.20]
      - chardet [required: >=3.0.2,<4, installed: 3.0.4]
      - idna [required: >=2.5,<3, installed: 2.10]
      - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
    - torch [required: >=0.4.1, installed: 1.6.0]
      - future [required: Any, installed: 0.18.2]
      - numpy [required: Any, installed: 1.18.3]
    - tqdm [required: Any, installed: 4.48.2]
  - pytorch-transformers [required: ==1.1.0, installed: 1.1.0]
    - boto3 [required: Any, installed: 1.14.56]
      - botocore [required: >=1.17.56,<1.18.0, installed: 1.17.56]
        - docutils [required: >=0.10,<0.16, installed: 0.15.2]
        - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
        - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
          - six [required: >=1.5, installed: 1.15.0]
        - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
      - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
      - s3transfer [required: >=0.3.0,<0.4.0, installed: 0.3.3]
        - botocore [required: >=1.12.36,<2.0a.0, installed: 1.17.56]
          - docutils [required: >=0.10,<0.16, installed: 0.15.2]
          - jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
          - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.1]
            - six [required: >=1.5, installed: 1.15.0]
          - urllib3 [required: >=1.20,<1.26, installed: 1.25.10]
    - numpy [required: Any, installed: 1.18.3]
    - regex [required: Any, installed: 2020.7.14]
    - requests [required: Any, installed: 2.24.0]
      - certifi [required: >=2017.4.17, installed: 2020.6.20]
      - chardet [required: >=3.0.2,<4, installed: 3.0.4]
      - idna [required: >=2.5,<3, installed: 2.10]
      - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
    - sentencepiece [required: Any, installed: 0.1.91]
    - torch [required: >=1.0.0, installed: 1.6.0]
      - future [required: Any, installed: 0.18.2]
      - numpy [required: Any, installed: 1.18.3]
    - tqdm [required: Any, installed: 4.48.2]
  - pytz [required: >=2017.3, installed: 2020.1]
  - requests [required: >=2.18, installed: 2.24.0]
    - certifi [required: >=2017.4.17, installed: 2020.6.20]
    - chardet [required: >=3.0.2,<4, installed: 3.0.4]
    - idna [required: >=2.5,<3, installed: 2.10]
    - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
  - responses [required: >=0.7, installed: 0.12.0]
    - requests [required: >=2.0, installed: 2.24.0]
      - certifi [required: >=2017.4.17, installed: 2020.6.20]
      - chardet [required: >=3.0.2,<4, installed: 3.0.4]
      - idna [required: >=2.5,<3, installed: 2.10]
      - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
    - six [required: Any, installed: 1.15.0]
    - urllib3 [required: >=1.25.10, installed: 1.25.10]
  - scikit-learn [required: Any, installed: 0.22.2.post1]
    - joblib [required: >=0.11, installed: 0.14.1]
    - numpy [required: >=1.11.0, installed: 1.18.3]
    - scipy [required: >=0.17.0, installed: 1.4.1]
      - numpy [required: >=1.13.3, installed: 1.18.3]
  - scipy [required: Any, installed: 1.4.1]
    - numpy [required: >=1.13.3, installed: 1.18.3]
  - spacy [required: >=2.1.0,<2.2, installed: 2.1.9]
    - blis [required: >=0.2.2,<0.3.0, installed: 0.2.4]
      - numpy [required: >=1.15.0, installed: 1.18.3]
    - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.3]
    - murmurhash [required: >=0.28.0,<1.1.0, installed: 1.0.2]
    - numpy [required: >=1.15.0, installed: 1.18.3]
    - plac [required: >=0.9.6,<1.0.0, installed: 0.9.6]
    - preshed [required: >=2.0.1,<2.1.0, installed: 2.0.1]
      - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.3]
    - requests [required: >=2.13.0,<3.0.0, installed: 2.24.0]
      - certifi [required: >=2017.4.17, installed: 2020.6.20]
      - chardet [required: >=3.0.2,<4, installed: 3.0.4]
      - idna [required: >=2.5,<3, installed: 2.10]
      - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
    - srsly [required: >=0.0.6,<1.1.0, installed: 1.0.2]
    - thinc [required: >=7.0.8,<7.1.0, installed: 7.0.8]
      - blis [required: >=0.2.1,<0.3.0, installed: 0.2.4]
        - numpy [required: >=1.15.0, installed: 1.18.3]
      - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.3]
      - murmurhash [required: >=0.28.0,<1.1.0, installed: 1.0.2]
      - numpy [required: >=1.7.0, installed: 1.18.3]
      - plac [required: >=0.9.6,<1.0.0, installed: 0.9.6]
      - preshed [required: >=1.0.1,<2.1.0, installed: 2.0.1]
        - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.3]
      - srsly [required: >=0.0.6,<1.1.0, installed: 1.0.2]
      - tqdm [required: >=4.10.0,<5.0.0, installed: 4.48.2]
      - wasabi [required: >=0.0.9,<1.1.0, installed: 0.8.0]
    - wasabi [required: >=0.2.0,<1.1.0, installed: 0.8.0]
  - sqlparse [required: >=0.2.4, installed: 0.3.1]
  - tensorboardX [required: >=1.2, installed: 2.1]
    - numpy [required: Any, installed: 1.18.3]
    - protobuf [required: >=3.8.0, installed: 3.13.0]
      - setuptools [required: Any, installed: 49.6.0]
      - six [required: >=1.9, installed: 1.15.0]
    - six [required: Any, installed: 1.15.0]
  - torch [required: >=1.2.0, installed: 1.6.0]
    - future [required: Any, installed: 0.18.2]
    - numpy [required: Any, installed: 1.18.3]
  - tqdm [required: >=4.19, installed: 4.48.2]
  - unidecode [required: Any, installed: 1.1.1]
  - word2number [required: >=1.1, installed: 1.1]
fastapi==0.65.2
  - pydantic [required: >=1.0.0,<2.0.0, installed: 1.6.1]
  - starlette [required: ==0.13.6, installed: 0.13.6]
pymongo==3.10.1
pyocclient==0.4
  - requests [required: >=2.0.1, installed: 2.24.0]
    - certifi [required: >=2017.4.17, installed: 2020.6.20]
    - chardet [required: >=3.0.2,<4, installed: 3.0.4]
    - idna [required: >=2.5,<3, installed: 2.10]
    - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
  - six [required: Any, installed: 1.15.0]
uvicorn==0.11.8
  - click [required: ==7.*, installed: 7.1.2]
  - h11 [required: >=0.8,<0.10, installed: 0.9.0]
  - httptools [required: ==0.1.*, installed: 0.1.1]
  - uvloop [required: >=0.14.0, installed: 0.14.0]
  - websockets [required: ==8.*, installed: 8.1]
