# Listed dependencies as of 2020-05-22
docutils==0.15.2
falcon==2.0.0
gunicorn==20.0.4
#  - setuptools [required: >=3.0, installed: 46.1.3]
hdbscan==0.8.26
#  - cython [required: >=0.27, installed: 0.29.16]
#  - joblib [required: Any, installed: 0.14.1]
#  - numpy [required: >=1.16.0, installed: 1.18.3]
#  - scikit-learn [required: >=0.17, installed: 0.22.2.post1]
#    - joblib [required: >=0.11, installed: 0.14.1]
#    - numpy [required: >=1.11.0, installed: 1.18.3]
#    - scipy [required: >=0.17.0, installed: 1.4.1]
#      - numpy [required: >=1.13.3, installed: 1.18.3]
#  - scipy [required: >=0.9, installed: 1.4.1]
#    - numpy [required: >=1.13.3, installed: 1.18.3]
#  - six [required: Any, installed: 1.14.0]
joblib==0.14.1
numpy==1.18.3
scikit-learn==0.22.2.post1
#  - joblib [required: >=0.11, installed: 0.14.1]
#  - numpy [required: >=1.11.0, installed: 1.18.3]
#  - scipy [required: >=0.17.0, installed: 1.4.1]
#    - numpy [required: >=1.13.3, installed: 1.18.3]
scipy==1.4.1
#  - numpy [required: >=1.13.3, installed: 1.18.3]
pandas==1.0.3
#  - numpy [required: >=1.13.3, installed: 1.18.3]
#  - python-dateutil [required: >=2.6.1, installed: 2.8.1]
#    - six [required: >=1.5, installed: 1.15.0]
#  - pytz [required: >=2017.2, installed: 2020.1]
